.loader-wrapper {
    text-align: center;
    z-index: 1;
  }
  
  @-webkit-keyframes spinner-border {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes spinner-border {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .loader {
    position: relative;
    top: 55px;
    left: auto;
    width: 80px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
    
  }
  .loader::after {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 100%;
    height: 100%;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
  }