@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

$ghosted-text-color: #909090;
$background-form-subsection: #efefef;
$border-color-light-grey: #dfdfdf;
$brand-danger: #c82128;
$active-green: #44be42;
$state-success-text: #1fa800;

$unit-column: (1/24) * 100vw;
$unit-half: $unit-column/2;
$unit-quarter: $unit-column/4;
$default-icon-size: 25px;